h1.head{background-image: url(f1-img/header.jpg);
    color: #efefef;
    text-align: center;
    padding: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: f1;
    }

h5{background-color: #efefef;
    text-align: center;
    color: #232831;
    padding: 10px;
    font-size: 1.8vw;}

button{padding: 0;}

@font-face {
    font-family: f1;
    src: url(Formula1-Bold.otf);}

img.schedule{width: 22vw;
    object-position: center center;}

p.Round{color: #ce2029;
        font-family: f1;
        font-size: 2.5vw;
        text-align: center;}

p.circuit{color: #efefef;
        font-size: 1.5vw;
        text-align: center;
        font-weight: bold;}

img.teams{width: 20vw;
        object-position: center center;
        }
img.teamPage{ width: 35vw;
            object-position: center center;}

h1.Teams{color: #ce2029;
        font-family: f1;
        text-align: center;}

#vp {font-size: 8.3vw;}

#objectCenter{align-items: center;}

*{color: #efefef;
    font-size: 1.5vw;}

p{color: #efefef; font-size: 17px; border: none; border:1px; font-weight: 250; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
